body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* header styling */

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightskyblue;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #00ff48;
    cursor: pointer;
    font-family: cursive;
}

/* about-me styling */

